*{
    padding:0;
    margin:0;  
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;  
    overflow-x: hidden;
}

nav{
    height: 70px;
    background-color: #41aea9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    overflow-y: hidden;
}

nav h1{
    padding:20px 0;
}

main{
    background-color: #fff;
    min-height: 1000px;
}

section{
    min-height: 200px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 100px 0;
    text-align: center;
    line-height: 2;
}

#introduction img{
    width: 200px;
}

#introduction{
    background-color: #e8ffff;
    text-align: center;
    position: relative;
    padding-bottom: 0;
}

hr{
    border: none;
    border-top: 10px dotted lightgrey;
    margin: 50px auto;
    width: 100px;
}

#introduction h1{
    margin-top: 4rem;
    font-size: 3rem;
}

#introduction p{
    margin-bottom: 2rem;
}

h1{
    text-align: center;
    line-height: 1.5;
}

.navigation-items{
    padding:30px;
}

.navigation-items a{
    color: black;
    padding:20px;
    text-decoration: none;
}

.navigation-items a:hover{
    color: white;
    border-bottom: solid 5px white;
}

#profile img{
    width: 200px;
    margin: 0 auto;
}

#skills{
    background-color: #41aea9;
}

#skills .frontend, #skills .backend, #skills .framework{
    background-color: white;
    border-radius: 20px;
    min-width: 600px;
    width: 70%;
    text-align: left;
    padding: 50px 20px;
    margin: 20px auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(199,199,199,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(199,199,199,1);
    box-shadow: 0px 0px 5px 0px rgba(199,199,199,1);
}

#skills .frontend img, #skills .framework img{
    width: 200px;
    float: left;
    padding-right: 50px;
}

#skills .backend img{
    width: 200px;
    float: right;
    padding-left: 50px;
}

#contact{
    background-color: #213e3b;
    color: white;
}

#contact form{
    margin: 25px;
    width: 70%;
    max-width: 600px;
    text-align: left;
}

#contact h1{
    font-size: 2.5rem;
}

#contact form input[type="text"], #contact form input[type="email"], #contact form textarea{
    width: 100%;
    padding: 5px;
    outline: none;
}

article{
    width:80%;
}

@media only screen and (max-width: 1200px) {

    section #skills{
        padding: 20px 0;
        margin: 0;
    }

    #skills .frontend, #skills .backend, #skills .framework{
        display: block;
        min-width: 0;
        width: 99%;
        background-color: white;
        border-radius: 20px;
        text-align: center;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(199,199,199,1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(199,199,199,1);
        box-shadow: 0px 0px 5px 0px rgba(199,199,199,1);
        padding: 50px 0;
        margin: 20px auto;
    }

    #skills .frontend img, #skills .backend img, #skills .framework img{      
        float: none;
        margin: 0 auto;  
        display: block;
        padding: 0;        
    }
}